# .NET
backend/**/bin/
backend/**/obj/
backend/**/appsettings.Development.json
backend/**/.vs/
backend/**/logs/

# Node / Next.js
frontend/**/node_modules/
frontend/**/.next/
frontend/**/out/
frontend/**/*.tsbuildinfo

# Env
.env
.env.local
